* {
    margin: 0;
    padding: 0;
    font-family: 'Gloock', serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(
        rgb(30,30,30),
        rgb(0,0,0)
    );
    background-size: cover;
    background-attachment: fixed;
}

/*Effect*/
.underline-effect {
    position: relative;
    
    transition: all 0.25s ease-out;
}
.underline-effect::before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0%;
    height: 2.5px;
    background-color: white;
    transition: all 0.25s ease-out;
}
.underline-effect:hover {
    text-shadow: white 0 0 10px;
    transform: translateY(-2.5px);
}
.underline-effect:hover::before {
    width: 100%;
    left: 0;
    background-color: red;
}




.nav-bar {
    width: 100%;
    height: 100px;
    background-color: rgba(69,69,69,0.69);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-bar-left {
    display: flex;
    align-items: center;
}
.nav-bar-left a:not(.home-button) {
    margin-right: 25px;
}
.home-button {
    font-size: 25px;
    margin-left: 25px;
    margin-right: 50px;
    position: relative;
    isolation: isolate;
    transition: all 0.25s ease-out;
}
.home-button::before {
    content: "";
    position: absolute;
    right: -10px;
    width: 2.5px;
    height: 100%;
    background-color: red;
    z-index: -1;
    transition: all 0.25s ease-out;
}
.home-button:hover {
    text-shadow: white 0 0 10px;
    transform: translateY(-2.5px);
}
.home-button:hover::before {
    width: 100%;
    right: 0;
}



.nav-bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar-right div {
    margin-right: 25px;
}
.about-me, .contact-me {
    padding: 5px 20px 5px 20px;
    border: rgba(30,30,30,0.7) solid 2.5px;
    border-radius: 40px;
}
.about-me span:first-of-type {
    padding-right: 10px;
}
.contact-me {
    background-color: black;
}
.contact-me span:first-of-type {
    padding-right: 10px;
}
.about-me:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.contact-me:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.main {
    width: 100%;
    height: 54rem;
    background-image: url(./Images/IconGrid.svg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem;
    box-shadow: 20px 25px 10px black;
}

form h3 {
    font-size: 1rem;
    font-weight: 1500;
    position: relative;
    padding-left: 0.5rem;
    height: 20px;
}
form h3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5px;
    height: 100%;
    background-color: black;
}

form input {
    margin-top: 1.5rem;
    width: 500px;
    height: 50px;
    border: 0px;
    background-color: rgba(0,0,0,0.075);
    padding: 0px 10px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
