* {
    margin: 0;
    padding: 0;
    font-family: 'Gloock', serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-image: url(./Images/IconGrid.svg), linear-gradient(
        rgb(30,30,30),
        rgb(0,0,0)
    );
    background-size: cover;
    background-attachment: fixed;
}

.blur-frame {
    width: 100%;
    height: 70em;
    background-color: rgba(0,0,0,0.8);
    z-index: 50;
    filter: blur(10px);
    position: fixed;
    left:0%;
    top:0;
}

/*Animations*/
@keyframes welcome-text-shadow {
    from {
        text-shadow: rgba(255, 0, 0, 1) 0 0 0px;
    }

    to {
        text-shadow: rgba(255, 0, 0, 0.69) 10px 0 5px;
    }
}

@keyframes span-animation {
    from {
        color: white;
    }

    to {
        color: rgb(125,125,125);
    }
}

@keyframes span-underline-animation {
    from {
        width: 0%;
        background-color: white;
    }

    to {
        width: 100%;
        background-color: rgb(187, 63, 63);
    }
}

/*Effect*/
.underline-effect {
    position: relative;
    
    transition: all 0.25s ease-out;
}
.underline-effect::before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0%;
    height: 2.5px;
    background-color: white;
    transition: all 0.25s ease-out;
}
.underline-effect:hover {
    text-shadow: white 0 0 10px;
    transform: translateY(-2.5px);
}
.underline-effect:hover::before {
    width: 100%;
    left: 0;
    background-color: red;
}




.nav-bar {
    width: 100%;
    height: 100px;
    background-color: rgba(69,69,69,0.69);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-bar-left {
    display: flex;
    align-items: center;
}
.nav-bar-left a:not(.home-button) {
    margin-right: 25px;
}
.home-button {
    font-size: 25px;
    margin-left: 25px;
    margin-right: 50px;
    position: relative;
    isolation: isolate;
    transition: all 0.25s ease-out;
}
.home-button::before {
    content: "";
    position: absolute;
    right: -10px;
    width: 2.5px;
    height: 100%;
    background-color: red;
    z-index: -1;
    transition: all 0.25s ease-out;
}
.home-button:hover {
    text-shadow: white 0 0 10px;
    transform: translateY(-2.5px);
}
.home-button:hover::before {
    width: 100%;
    right: 0;
}



.nav-bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar-right div {
    margin-right: 25px;
}
.about-me, .contact-me {
    padding: 5px 20px 5px 20px;
    border: rgba(30,30,30,0.7) solid 2.5px;
    border-radius: 40px;
    transition: all 0.25s ease;
}
.about-me span:first-of-type {
    padding-right: 10px;
}
.contact-me {
    background-color: black;
}
.contact-me span:first-of-type {
    padding-right: 10px;
}
.about-me:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.contact-me:hover {
    background-color: rgba(0, 0, 0, 0.4);
}


.welcome-message {
    aspect-ratio: 1/1;
    width: 100%;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(15em);
}
.welcome-message p {
    text-align: center;
    color: white;
    font-size: 69px;
    word-wrap: none;
    animation: welcome-text-shadow 1s ease-out 1s forwards;
}
.welcome-message div {
    width: 600px;
}

.introduction {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    width: 100%;
    height: 100vh;
}
.introduction p {
    color: white;
    font-size: 2rem;
    margin-left: 5rem;
}
.intro-img-wrapper {
    width: 350px;
    height: 250px;
}
.intro-img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.intro-svg {
    width: 50px;
    height: 50px;
    filter: invert(1);
    transition: all 0.15s ease;
}
.introduction a {
    transition: all 0.15s ease;
}
.introduction a:hover .intro-svg{
    width: 57.5px;
    height: 57.5px;
}
.span-a {
    font-size: 0;
    animation: span-animation 1s ease 0.6s forwards;
}
.span-a span {
    font-size: 2rem;
}
.span-a span:hover {
    color: rgb(187, 63, 63);
}
.span-b {
    font-size: 0;
    position: relative;
    padding-bottom: 0.5rem;
    margin-right: 7px;
    animation: span-animation 1s ease 1s forwards;
}
.span-b span {
    font-size: 2rem;
}
.span-b span:hover {
    color: rgb(187, 63, 63);
}
.span-b::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: white;
    animation: span-underline-animation 1s ease 1s forwards;
}
.span-c {
    font-size: 0;
    position: relative;
    padding-bottom: 0.5rem;
    animation: span-animation 1s ease 1.5s forwards;
}
.span-c span {
    font-size: 2rem;
}
.span-c span:hover {
    color: rgb(187, 63, 63);
}
.span-c::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: white;
    animation: span-underline-animation 1s ease 1.5s forwards;
}



.svg-background-graphic {
    width: 100%;
    height: 35em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1000' height='300' preserveAspectRatio='none' viewBox='0 0 1000 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1086%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c23 C 40%2c34.2 120%2c71 200%2c79 C 280%2c87 320%2c56.6 400%2c63 C 480%2c69.4 520%2c115.2 600%2c111 C 680%2c106.8 720%2c36.4 800%2c42 C 880%2c47.6 960%2c119.6 1000%2c139L1000 300L0 300z' fill='rgba(34%2c 34%2c 34%2c 0.5)'%3e%3c/path%3e%3cpath d='M 0%2c249 C 50%2c231.6 150%2c154.6 250%2c162 C 350%2c169.4 400%2c275 500%2c286 C 600%2c297 650%2c221.6 750%2c217 C 850%2c212.4 950%2c253.8 1000%2c263L1000 300L0 300z' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1086'%3e%3crect width='1000' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    position: absolute;
    z-index: -1;
}
.svg-background-graphic div {
    width: 100%;
    height: 50em;
    background-color: black;
    margin-top: 34.69em;
}



.projects-section {
    width: 100%;
    height:45em;
    margin-top: 21em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 30px;
    text-shadow: white 0 0 10px;
}
.wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
}
.grid-section {
    width: 50em;
    height: 50em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-section div {
    background-color: rgba(30,30,30,0.5);
    border: white solid 1px;
    border-radius: 40px;
    margin: 0.5em;
    overflow: hidden;
    position: relative;
    transition: all 0.15s ease-out;
}
.grid-section img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: brightness(100%);
    transition: all 0.1s ease-out;

}
.grid-section p {
    color: white;
    position: absolute;
    margin: 1em;
    top: -5em;
    opacity: 0;
    color: transparent;
    text-shadow: white 0 0 0px;
    transition: all 0.3s ease-out;
    font-size: 3rem;
}
.grid-section div:hover {
    margin:-1em;
    z-index: 4;
}
.grid-section div:hover img {
    filter: blur(10px) brightness(70%);
}
.grid-section div:hover p {
    top: 0;
    opacity: 1;
    color: white;
    text-shadow: white 0 0 10px;
    font-size: 1.5rem;
}
.project-player {
    width: 100%;
    height:100%;
    position: fixed;
    top: 5%;
    left:0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.project-video{
    width: 1000px;
    height: 500px;
    background-color: black;
    opacity: 0;
    transition: all 0.25s ease-out;
}


.svg-background-graphic2 {
    width: 100%;
    height: 35em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1000' height='300' preserveAspectRatio='none' viewBox='0 0 1000 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1014%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c23 C 40%2c34.2 120%2c71 200%2c79 C 280%2c87 320%2c56.6 400%2c63 C 480%2c69.4 520%2c115.2 600%2c111 C 680%2c106.8 720%2c36.4 800%2c42 C 880%2c47.6 960%2c119.6 1000%2c139L1000 300L0 300z' fill='rgba(144%2c 47%2c 47%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c249 C 50%2c231.6 150%2c154.6 250%2c162 C 350%2c169.4 400%2c275 500%2c286 C 600%2c297 650%2c221.6 750%2c217 C 850%2c212.4 950%2c253.8 1000%2c263L1000 300L0 300z' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1014'%3e%3crect width='1000' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    position: absolute;
    transform: rotate(180deg);
    margin-top: 18em;
}
.flow-offset {
    width: 100%;
    height: 20em;
}
.flow-offset2 {
    width: 100%;
    height: 32.9em;
    background-color: rgb(187, 63, 63);
}
.project-click-detector:nth-child(1) {
    transition-delay: 0ms;
}
.project-click-detector:nth-child(2) {
    transition-delay: 100ms;
}
.project-click-detector:nth-child(3) {
    transition-delay: 200ms;
}
.project-click-detector:nth-child(4) {
    transition-delay: 0ms;
}
.project-click-detector:nth-child(5) {
    transition-delay: 100ms;
}
.project-click-detector:nth-child(6) {
    transition-delay: 200ms;
}