*{
    margin: 0;
    padding: 0;
    font-family: 'Gloock', serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(
        rgb(30,30,30),
        rgb(0,0,0)
    );
    background-size: cover;
    background-attachment: fixed;
}

/*Effect*/
.underline-effect {
    position: relative;
    
    transition: all 0.25s ease-out;
}
.underline-effect::before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0%;
    height: 2.5px;
    background-color: white;
    transition: all 0.25s ease-out;
}
.underline-effect:hover {
    text-shadow: white 0 0 10px;
    transform: translateY(-2.5px);
}
.underline-effect:hover::before {
    width: 100%;
    left: 0;
    background-color: red;
}




.nav-bar {
    width: 100%;
    height: 100px;
    background-color: rgba(69,69,69,0.69);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-bar-left {
    display: flex;
    align-items: center;
}
.nav-bar-left a:not(.home-button) {
    margin-right: 25px;
}
.home-button {
    font-size: 25px;
    margin-left: 25px;
    margin-right: 50px;
    position: relative;
    isolation: isolate;
    transition: all 0.25s ease-out;
}
.home-button::before {
    content: "";
    position: absolute;
    right: -10px;
    width: 2.5px;
    height: 100%;
    background-color: red;
    z-index: -1;
    transition: all 0.25s ease-out;
}
.home-button:hover {
    text-shadow: white 0 0 10px;
    transform: translateY(-2.5px);
}
.home-button:hover::before {
    width: 100%;
    right: 0;
}



.nav-bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar-right div {
    margin-right: 25px;
}
.about-me, .contact-me {
    padding: 5px 20px 5px 20px;
    border: rgba(30,30,30,0.7) solid 2.5px;
    border-radius: 40px;
}
.about-me span:first-of-type {
    padding-right: 10px;
}
.contact-me {
    background-color: black;
}
.contact-me span:first-of-type {
    padding-right: 10px;
}
.about-me:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.contact-me:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./Images/IconGrid.svg);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: white;
    font-size: 3.5rem;
}

h3 {
    color: rgba(255,255,255,0.85);
    font-size: 1.5rem;
}