// Variables
//theme
$primary1 : #FDC8AA;
$primary2 : #BD3246;
$secondary1 : #740021;
$cta : #8D0033;


// Mixins

@mixin flexCenter($dir) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $dir;
}
