// Variables
//theme
$primary1 : #FDC8AA;
$primary2 : #BD3246;
$secondary1 : #740021;
$cta : #dcb3c1;
$cta2 : #292124;


// Mixins

@mixin flexCenter($dir) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $dir;
}

@mixin transitionAll() {
    transition: all 0.15s ease;
}